- build_meta_tags title: "Quests"

%h1 Quests
%p Finish quests to unlock more difficult quests.

- @areas.each_slice(2) do |areas|
  .row
    - areas.each do |area|
      .col-md-6
        %h2= area.name
        %table.table.table-condensed.table-striped.item-table
          %tr
            %th Quest
            %th Status
            %th Actions
          - area.quests.each do |quest|
            %tr
              %td= quest.name
              %td
                - if current_user.unlocked_quest?(quest)
                  - if current_user.completed_quest?(quest)
                    %span.label.label-info Completed
                  - else 
                    %span.label.label-warning Not Yet Completed
                - else
                  %span.label.label-danger Not Yet Unlocked
              %td
                - if current_user.unlocked_quest?(quest)
                  = link_to "View Quest", quest_url(quest.id), :class => "btn btn-default btn-sm"
                - else
                  %button.btn.btn-default.btn-sm{ disabled: "disabled"} View Quest

