@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

footer, .footer {
  margin-top: 50px;
  color: #aaa;
  text-align: center;
  a {
    color: #87BEE0;
  }
}

.unit-icon {
  background-image: image-url("sprites.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
  line-height: 64px;
  vertical-align: text-bottom;
}

$x-warrior-large: 0 0;
$a-warrior-large: -64px 0;
$b-warrior-large: 0 -64px;
$c-warrior-large: -64px -64px;
$x-skirmisher-large: -128px 0;
$a-skirmisher-large: -192px 0;
$b-skirmisher-large: -128px -64px;
$c-skirmisher-large: -192px -64px;
$x-sentinel-large: 0 -128px;
$a-sentinel-large: -64px -128px;
$b-sentinel-large: 0 -192px;
$c-sentinel-large: -64px -192px;
$x-mercenary-large: -128px -128px;
$a-mercenary-large: -192px -128px;
$b-mercenary-large: -128px -192px;
$c-mercenary-large: -192px -192px;

.unit-icon.team-X-unit {
  background-position: $x-warrior-large;
}
.unit-icon.team-A-unit {
  background-position: $a-warrior-large;
}
.unit-icon.team-B-unit {
  background-position: $b-warrior-large;
}
.unit-icon.team-C-unit {
  background-position: $c-warrior-large;
}

.unit-icon.team-X-unit.skirmisher {
  background-position: $x-skirmisher-large;
}
.unit-icon.team-A-unit.skirmisher {
  background-position: $a-skirmisher-large;
}
.unit-icon.team-B-unit.skirmisher {
  background-position: $b-skirmisher-large;
}
.unit-icon.team-C-unit.skirmisher {
  background-position: $c-skirmisher-large;
}

.unit-icon.team-X-unit.sentinel {
  background-position: $x-sentinel-large;
}
.unit-icon.team-A-unit.sentinel {
  background-position: $a-sentinel-large;
}
.unit-icon.team-B-unit.sentinel {
  background-position: $b-sentinel-large;
}
.unit-icon.team-C-unit.sentinel {
  background-position: $c-sentinel-large;
}

.unit-icon.team-X-unit.mercenary {
  background-position: $x-mercenary-large;
}
.unit-icon.team-A-unit.mercenary {
  background-position: $a-mercenary-large;
}
.unit-icon.team-B-unit.mercenary {
  background-position: $b-mercenary-large;
}
.unit-icon.team-C-unit.mercenary {
  background-position: $c-mercenary-large;
}

.unit-icon.regular {
  background-image: image-url("sprites.png"), image-url("sprites.png") !important;
}

$regular-stars-large: -192px -275px;

.unit-icon.team-X-unit.regular {
  background-position: $regular-stars-large, $x-warrior-large;
}
.unit-icon.team-A-unit.regular {
  background-position: $regular-stars-large, $a-warrior-large;
}
.unit-icon.team-B-unit.regular {
  background-position: $regular-stars-large, $b-warrior-large;
}
.unit-icon.team-C-unit.regular {
  background-position: $regular-stars-large, $c-warrior-large;
}

.unit-icon.team-X-unit.regular.skirmisher {
  background-position: $regular-stars-large, $x-skirmisher-large;
}
.unit-icon.team-A-unit.regular.skirmisher {
  background-position: $regular-stars-large, $a-skirmisher-large;
}
.unit-icon.team-B-unit.regular.skirmisher {
  background-position: $regular-stars-large, $b-skirmisher-large;
}
.unit-icon.team-C-unit.regular.skirmisher {
  background-position: $regular-stars-large, $c-skirmisher-large;
}

.unit-icon.team-X-unit.regular.sentinel {
  background-position: $regular-stars-large, $x-sentinel-large;
}
.unit-icon.team-A-unit.regular.sentinel {
  background-position: $regular-stars-large, $a-sentinel-large;
}
.unit-icon.team-B-unit.regular.sentinel {
  background-position: $regular-stars-large, $b-sentinel-large;
}
.unit-icon.team-C-unit.regular.sentinel {
  background-position: $regular-stars-large, $c-sentinel-large;
}

.unit-icon.team-X-unit.regular.mercenary {
  background-position: $regular-stars-large, $x-mercenary-large;
}
.unit-icon.team-A-unit.regular.mercenary {
  background-position: $regular-stars-large, $a-mercenary-large;
}
.unit-icon.team-B-unit.regular.mercenary {
  background-position: $regular-stars-large, $b-mercenary-large;
}
.unit-icon.team-C-unit.regular.mercenary {
  background-position: $regular-stars-large, $c-mercenary-large;
}

.unit-icon.veteran {
  background-image: image-url("sprites.png"), image-url("sprites.png"), image-url("sprites.png") !important;
}
$veteran-stars-large: -192px -270px, -192px -275px;
.unit-icon.team-X-unit.veteran {
  background-position: $veteran-stars-large, $x-warrior-large;
}
.unit-icon.team-A-unit.veteran {
  background-position: $veteran-stars-large, $a-warrior-large;
}
.unit-icon.team-B-unit.veteran {
  background-position: $veteran-stars-large, $b-warrior-large;
}
.unit-icon.team-C-unit.veteran {
  background-position: $veteran-stars-large, $c-warrior-large;
}

.unit-icon.team-X-unit.veteran.skirmisher {
  background-position: $veteran-stars-large, $x-skirmisher-large;
}
.unit-icon.team-A-unit.veteran.skirmisher {
  background-position: $veteran-stars-large, $a-skirmisher-large;
}
.unit-icon.team-B-unit.veteran.skirmisher {
  background-position: $veteran-stars-large, $b-skirmisher-large;
}
.unit-icon.team-C-unit.veteran.skirmisher {
  background-position: $veteran-stars-large, $c-skirmisher-large;
}

.unit-icon.team-X-unit.veteran.sentinel {
  background-position: $veteran-stars-large, $x-sentinel-large;
}
.unit-icon.team-A-unit.veteran.sentinel {
  background-position: $veteran-stars-large, $a-sentinel-large;
}
.unit-icon.team-B-unit.veteran.sentinel {
  background-position: $veteran-stars-large, $b-sentinel-large;
}
.unit-icon.team-C-unit.veteran.sentinel {
  background-position: $veteran-stars-large, $c-sentinel-large;
}

.unit-icon.team-X-unit.veteran.mercenary {
  background-position: $veteran-stars-large, $x-mercenary-large;
}
.unit-icon.team-A-unit.veteran.mercenary {
  background-position: $veteran-stars-large, $a-mercenary-large;
}
.unit-icon.team-B-unit.veteran.mercenary {
  background-position: $veteran-stars-large, $b-mercenary-large;
}
.unit-icon.team-C-unit.veteran.mercenary {
  background-position: $veteran-stars-large, $c-mercenary-large;
}

.unit-icon.elite {
  background-image: image-url("sprites.png"), image-url("sprites.png"), image-url("sprites.png"), image-url("sprites.png") !important;
}
$elite-stars-large: -192px -265px,-192px -270px, -192px -275px;
.unit-icon.team-X-unit.elite {
  background-position: $elite-stars-large, $x-warrior-large;
}
.unit-icon.team-A-unit.elite {
  background-position: $elite-stars-large, $a-warrior-large;
}
.unit-icon.team-B-unit.elite {
  background-position: $elite-stars-large, $b-warrior-large;
}
.unit-icon.team-C-unit.elite {
  background-position: $elite-stars-large, $c-warrior-large;
}

.unit-icon.team-X-unit.elite.skirmisher {
  background-position: $elite-stars-large, $x-skirmisher-large;
}
.unit-icon.team-A-unit.elite.skirmisher {
  background-position: $elite-stars-large, $a-skirmisher-large;
}
.unit-icon.team-B-unit.elite.skirmisher {
  background-position: $elite-stars-large, $b-skirmisher-large;
}
.unit-icon.team-C-unit.elite.skirmisher {
  background-position: $elite-stars-large, $c-skirmisher-large;
}

.unit-icon.team-X-unit.elite.sentinel {
  background-position: $elite-stars-large, $x-sentinel-large;
}
.unit-icon.team-A-unit.elite.sentinel {
  background-position: $elite-stars-large, $a-sentinel-large;
}
.unit-icon.team-B-unit.elite.sentinel {
  background-position: $elite-stars-large, $b-sentinel-large;
}
.unit-icon.team-C-unit.elite.sentinel {
  background-position: $elite-stars-large, $c-sentinel-large;
}

.unit-icon.team-X-unit.elite.mercenary {
  background-position: $elite-stars-large, $x-mercenary-large;
}
.unit-icon.team-A-unit.elite.mercenary {
  background-position: $elite-stars-large, $a-mercenary-large;
}
.unit-icon.team-B-unit.elite.mercenary {
  background-position: $elite-stars-large, $b-mercenary-large;
}
.unit-icon.team-C-unit.elite.mercenary {
  background-position: $elite-stars-large, $c-mercenary-large;
}


$x-warrior-medium: -256px 0;
$a-warrior-medium: -288px 0;
$b-warrior-medium: -256px -32px;
$c-warrior-medium: -288px -32px;
$x-skirmisher-medium: -320px 0;
$a-skirmisher-medium: -352px 0;
$b-skirmisher-medium: -320px -32px;
$c-skirmisher-medium: -352px -32px;
$x-sentinel-medium: -256px -64px;
$a-sentinel-medium: -288px -64px;
$b-sentinel-medium: -256px -96px;
$c-sentinel-medium: -288px -96px;
$x-mercenary-medium: -320px -64px;
$a-mercenary-medium: -352px -64px;
$b-mercenary-medium: -320px -96px;
$c-mercenary-medium: -352px -96px;

.medium { 
  .unit-icon {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }

  .unit-icon.team-X-unit {
    background-position: $x-warrior-medium;
  }
  .unit-icon.team-A-unit {
    background-position: $a-warrior-medium;
  }
  .unit-icon.team-B-unit {
    background-position: $b-warrior-medium;
  }
  .unit-icon.team-C-unit {
    background-position: $c-warrior-medium;
  }
  .unit-icon.team-X-unit.skirmisher {
    background-position: $x-skirmisher-medium;
  }
  .unit-icon.team-A-unit.skirmisher {
    background-position: $a-skirmisher-medium;
  }
  .unit-icon.team-B-unit.skirmisher {
    background-position: $b-skirmisher-medium;
  }
  .unit-icon.team-C-unit.skirmisher {
    background-position: $c-skirmisher-medium;
  }
  .unit-icon.team-X-unit.sentinel {
    background-position: $x-sentinel-medium;
  }
  .unit-icon.team-A-unit.sentinel {
    background-position: $a-sentinel-medium;
  }
  .unit-icon.team-B-unit.sentinel {
    background-position: $b-sentinel-medium;
  }
  .unit-icon.team-C-unit.sentinel {
    background-position: $c-sentinel-medium;
  }
  .unit-icon.team-X-unit.mercenary {
    background-position: $x-mercenary-medium;
  }
  .unit-icon.team-A-unit.mercenary {
    background-position: $a-mercenary-medium;
  }
  .unit-icon.team-B-unit.mercenary {
    background-position: $b-mercenary-medium;
  }
  .unit-icon.team-C-unit.mercenary {
    background-position: $c-mercenary-medium;
  }

  .unit-icon.regular {
    background-image: image-url("sprites.png"), image-url("sprites.png") !important;
  }
  $regular-stars-medium: -161px -266px;
  .unit-icon.team-X-unit.regular {
    background-position: $regular-stars-medium, $x-warrior-medium;
  }
  .unit-icon.team-A-unit.regular {
    background-position: $regular-stars-medium, $a-warrior-medium;
  }
  .unit-icon.team-B-unit.regular {
    background-position: $regular-stars-medium, $b-warrior-medium;
  }
  .unit-icon.team-C-unit.regular {
    background-position: $regular-stars-medium, $c-warrior-medium;
  }

  .unit-icon.team-X-unit.regular.skirmisher {
    background-position: $regular-stars-medium, $x-skirmisher-medium;
  }
  .unit-icon.team-A-unit.regular.skirmisher {
    background-position: $regular-stars-medium, $a-skirmisher-medium;
  }
  .unit-icon.team-B-unit.regular.skirmisher {
    background-position: $regular-stars-medium, $b-skirmisher-medium;
  }
  .unit-icon.team-C-unit.regular.skirmisher {
    background-position: $regular-stars-medium, $c-skirmisher-medium;
  }

  .unit-icon.team-X-unit.regular.sentinel {
    background-position: $regular-stars-medium, $x-sentinel-medium;
  }
  .unit-icon.team-A-unit.regular.sentinel {
    background-position: $regular-stars-medium, $a-sentinel-medium;
  }
  .unit-icon.team-B-unit.regular.sentinel {
    background-position: $regular-stars-medium, $b-sentinel-medium;
  }
  .unit-icon.team-C-unit.regular.sentinel {
    background-position: $regular-stars-medium, $c-sentinel-medium;
  }

  .unit-icon.team-X-unit.regular.mercenary {
    background-position: $regular-stars-medium, $x-mercenary-medium;
  }
  .unit-icon.team-A-unit.regular.mercenary {
    background-position: $regular-stars-medium, $a-mercenary-medium;
  }
  .unit-icon.team-B-unit.regular.mercenary {
    background-position: $regular-stars-medium, $b-mercenary-medium;
  }
  .unit-icon.team-C-unit.regular.mercenary {
    background-position: $regular-stars-medium, $c-mercenary-medium;
  }

  .unit-icon.veteran {
    background-image: image-url("sprites.png"), image-url("sprites.png"), image-url("sprites.png") !important;
  }
  $veteran-stars-medium: -161px -263px, -161px -266px;
  .unit-icon.team-X-unit.veteran {
    background-position: $veteran-stars-medium, $x-warrior-medium;
  }
  .unit-icon.team-A-unit.veteran {
    background-position: $veteran-stars-medium, $a-warrior-medium;
  }
  .unit-icon.team-B-unit.veteran {
    background-position: $veteran-stars-medium, $b-warrior-medium;
  }
  .unit-icon.team-C-unit.veteran {
    background-position: $veteran-stars-medium, $c-warrior-medium;
  }

  .unit-icon.team-X-unit.veteran.skirmisher {
    background-position: $veteran-stars-medium, $x-skirmisher-medium;
  }
  .unit-icon.team-A-unit.veteran.skirmisher {
    background-position: $veteran-stars-medium, $a-skirmisher-medium;
  }
  .unit-icon.team-B-unit.veteran.skirmisher {
    background-position: $veteran-stars-medium, $b-skirmisher-medium;
  }
  .unit-icon.team-C-unit.veteran.skirmisher {
    background-position: $veteran-stars-medium, $c-skirmisher-medium;
  }

  .unit-icon.team-X-unit.veteran.sentinel {
    background-position: $veteran-stars-medium, $x-sentinel-medium;
  }
  .unit-icon.team-A-unit.veteran.sentinel {
    background-position: $veteran-stars-medium, $a-sentinel-medium;
  }
  .unit-icon.team-B-unit.veteran.sentinel {
    background-position: $veteran-stars-medium, $b-sentinel-medium;
  }
  .unit-icon.team-C-unit.veteran.sentinel {
    background-position: $veteran-stars-medium, $c-sentinel-medium;
  }

  .unit-icon.team-X-unit.veteran.mercenary {
    background-position: $veteran-stars-medium, $x-mercenary-medium;
  }
  .unit-icon.team-A-unit.veteran.mercenary {
    background-position: $veteran-stars-medium, $a-mercenary-medium;
  }
  .unit-icon.team-B-unit.veteran.mercenary {
    background-position: $veteran-stars-medium, $b-mercenary-medium;
  }
  .unit-icon.team-C-unit.veteran.mercenary {
    background-position: $veteran-stars-medium, $c-mercenary-medium;
  }

  .unit-icon.elite {
    background-image: image-url("sprites.png"), image-url("sprites.png"), image-url("sprites.png"), image-url("sprites.png") !important;
  }
  $elite-stars-medium: -161px -260px, -161px -263px, -161px -266px;
  .unit-icon.team-X-unit.elite {
    background-position: $elite-stars-medium, $x-warrior-medium;
  }
  .unit-icon.team-A-unit.elite {
    background-position: $elite-stars-medium, $a-warrior-medium;
  }
  .unit-icon.team-B-unit.elite {
    background-position: $elite-stars-medium, $b-warrior-medium;
  }
  .unit-icon.team-C-unit.elite {
    background-position: $elite-stars-medium, $c-warrior-medium;
  }

  .unit-icon.team-X-unit.elite.skirmisher {
    background-position: $elite-stars-medium, $x-skirmisher-medium;
  }
  .unit-icon.team-A-unit.elite.skirmisher {
    background-position: $elite-stars-medium, $a-skirmisher-medium;
  }
  .unit-icon.team-B-unit.elite.skirmisher {
    background-position: $elite-stars-medium, $b-skirmisher-medium;
  }
  .unit-icon.team-C-unit.elite.skirmisher {
    background-position: $elite-stars-medium, $c-skirmisher-medium;
  }

  .unit-icon.team-X-unit.elite.sentinel {
    background-position: $elite-stars-medium, $x-sentinel-medium;
  }
  .unit-icon.team-A-unit.elite.sentinel {
    background-position: $elite-stars-medium, $a-sentinel-medium;
  }
  .unit-icon.team-B-unit.elite.sentinel {
    background-position: $elite-stars-medium, $b-sentinel-medium;
  }
  .unit-icon.team-C-unit.elite.sentinel {
    background-position: $elite-stars-medium, $c-sentinel-medium;
  }

  .unit-icon.team-X-unit.elite.mercenary {
    background-position: $elite-stars-medium, $x-mercenary-medium;
  }
  .unit-icon.team-A-unit.elite.mercenary {
    background-position: $elite-stars-medium, $a-mercenary-medium;
  }
  .unit-icon.team-B-unit.elite.mercenary {
    background-position: $elite-stars-medium, $b-mercenary-medium;
  }
  .unit-icon.team-C-unit.elite.mercenary {
    background-position: $elite-stars-medium, $c-mercenary-medium;
  }
}
.item-icon {
  background-image: image-url("sprites.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: text-bottom;
}
.item-icon.item-undefined {
  background-position: 0px -256px;
}
.item-icon.item-dagger {
  background-position: -256px -128px;
}
.item-icon.item-shuriken {
  background-position: -288px -128px;
}
.item-icon.item-clothes {
  background-position: -320px -128px;
}
.item-icon.item-boots {
  background-position: -352px -128px;
}
.item-icon.item-spear {
  background-position: -256px -160px;
}
.item-icon.item-bow {
  background-position: -288px -160px;
}
.item-icon.item-leather-armor {
  background-position: -320px -160px;
}
.item-icon.item-gloves {
  background-position: -352px -160px;
}
.item-icon.item-sword {
  background-position: -256px -192px;
}
.item-icon.item-war-bow {
  background-position: -288px -192px;
}
.item-icon.item-banded-mail {
  background-position: -320px -192px;
}
.item-icon.item-sabaton {
  background-position: -352px -192px;
}
.item-icon.item-battle-axe {
  background-position: -256px -224px;
}
.item-icon.item-ice-staff {
  background-position: -288px -224px;
}
.item-icon.item-cuirass {
  background-position: -320px -224px;
}
.item-icon.item-boots-of-haste {
  background-position: -352px -224px;
}
.item-icon.item-great-sword {
  background-position: -256px -256px;
}
.item-icon.item-fire-staff {
  background-position: -288px -256px;
}
.item-icon.item-full-plate-mail {
  background-position: -320px -256px;
}
.item-icon.item-gloves-of-accuracy {
  background-position: -352px -256px;
}

.monster-icon {
  background-image: image-url("sprites.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: text-bottom;
}
.monster-icon.monster-green-slime {
  background-position: -384px 0px;
}
.monster-icon.monster-red-slime {
  background-position: -416px 0px;
}
.monster-icon.monster-giant-rat {
  background-position: -384px -32px;
  width: 64px;
  height: 64px;
  line-height: 64px;
}
.monster-icon.monster-giant-spider {
  background-position: -384px -96px;
  width: 64px;
  height: 64px;
  line-height: 64px;
}

#monster-row {
  .unit-container.monster-green-slime-container, .unit-container.monster-green-slime-container {
    width: 32px;
  }
  .unit-container.monster-giant-rat-container, .unit-container.monster-giant-spider-container {
    width: 64px;
  }
}


table.unit-table, table.item-table, table.monster-table {
  tr > td {
    vertical-align: middle;
  }
  tr > th.hp-column {
    width: 300px;
  }
}

.replay-container {
  display: none;
}

#load-replay {
  margin-top: 50px;
}

.board-container {
  background-color: #ddd;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 10px;
  .hex-row.odd {
    margin-left: 63px;
  }
  .hex-row {
    .hex-tile {
      display: inline-block;
      overflow: hidden;
      visibility: hidden;
      -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
      -o-transform: rotate(120deg);
      transform: rotate(120deg);
      width: 60px;
      height: 120px;
      margin: -34px 1px -34px 0;
      .hex-in1 {
        overflow: hidden;
        width: 100%;
        height: 100%;
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg);
        .hex-in2 {
          width: 100%;
          height: 100%;
          visibility: visible;
          -webkit-transform: rotate(-60deg);
          -moz-transform: rotate(-60deg);
          -o-transform: rotate(-60deg);
          transform: rotate(-60deg);
          background-color: white;
          .hp-box {
            height: 5px;
            border: 1px solid rgba(128, 128, 128, 0.8);
            position: relative;
            top: 40px;
            width: 60%;
            left: 13px;
            div {
              background: rgba(0, 128, 0, 0.8);
              height: 3px;
            }
          }
          .unit-icon {
            margin-top: 42px;
          }
        }
      }
    }
    .hex-tile.wall {
      .hex-in1 .hex-in2 {
        background-color: #ddd;
      }
    }
    .hex-tile.team-a {
      .hex-in1 .hex-in2 {
        background: lightyellow;
      }
    }
    .hex-tile.team-b {
      .hex-in1 .hex-in2 {
        background: lavender;
      }
    }
    .hex-tile.team-c {
      .hex-in1 .hex-in2 {
        background: lightblue;
      }
    }
    .hex-tile.team-x {
      .hex-in1 .hex-in2 {
        background: #888;
      }
    }
    .hex-tile.current {
      .hex-in1 .hex-in2 {
        background: lightgreen !important;
      }
    }
    .hex-tile.enemy {
      .hex-in1 .hex-in2 {
        background: salmon !important;
      }
    }
    .hex-tile.enemy.hit {
      .hex-in1 .hex-in2 {
        background: red !important;
      }
    }
    .hex-tile.path {
      .hex-in1 .hex-in2 {
        background: #fd8 !important;
      }
    }
  }
  .battle-start .hex-row {
    .hex-tile.team-a, .hex-tile.team-b, .hex-tile.team-c, .hex-tile.team-x {
      .hex-in1 .hex-in2 {
        background: white;
      }
    }
  }

  table {
    /*background: #ddd;*/
    padding: 10px;
    margin: auto;
    border-spacing: 3px;
    border-collapse: separate;
    td {
      text-align: center;
      font-size: 200%;
      padding: 10px;
      border: 1px gray solid;
      background: white;
    }
    td.extra {
      border: none;
      background: transparent;
    }
    td.wall {
      border: none;
      background: transparent;
    }
    td.team-a {
      background: lightyellow;
    }
    td.team-b {
      background: lavender;
    }
    td.team-c {
      background: lightblue;
    }
    td.team-x {
      background: lightgray;
    }
    td.current {
      background: lightgreen !important;
    }
    td.enemy {
      background: salmon !important;
    }
    td.enemy.hit {
      background: red !important;
    }
    td.path {
      background: #fd8 !important;
    }

    .hp-box {
      height: 7px;
      border: 1px solid rgba(128, 128, 128, 0.8);
      div {
        background: rgba(0, 128, 0, 0.8);
        height: 5px;
      }
    }
    .unit-icon {
      vertical-align: text-top;
    }

    .glyphicon-remove {
      color: maroon;
    }
  }
  table.medium {
    th {
      width: 25px;
      line-height: 1px;
    }
    td.tile {
      height: 50px;
    }
    td {
      font-size: 100%;
      padding: 4px;
    }
    .hp-box {
      height: 5px;
      div {
        height: 3px;
      }
    }
  }
  table.battle-start {
    td.team-a, td.team-b, td.team-c, td.team-x {
      background: white;
    }
  }
}

#board-controls {
  margin-top: 10px;
  text-align: center;
}

#battle-log {
  margin-top: 10px;
}

#selected-unit, #targeted-unit {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  .unit-icon {
    vertical-align: bottom;
  }
  .unit-name {
    font-size: 200%;
    font-weight: bold;
  }
  .progress {
    margin-bottom: 10px;
  }
  .item-icon {
    vertical-align: -25%;
  }
}

#party-front-row, #party-back-row, #monster-row {
  margin-bottom: 5px;
  text-align: center;
  .unit-container {
    width: 32px;
    margin: 0 4px;
    display: inline-block;
    .unit-icon {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
    .unit-icon.team-A-unit {
      background-position: -288px 0;
    }
    .unit-icon.team-A-unit.skirmisher {
      background-position: -352px 0;
    }
    .unit-icon.team-A-unit.sentinel {
      background-position: -288px -64px;
    }
    .unit-icon.team-A-unit.mercenary {
      background-position: -352px -64px;
    }
  }
  .hp-box {
    height: 7px;
    border: 1px solid rgba(128, 128, 128, 0.8);
    div {
      background: rgba(0, 128, 0, 0.8);
      height: 5px;
    }
  }
  .unit-icon {
    vertical-align: text-top;
  }
}

#monster-row {
  margin-bottom: 20px;
  background: #eee;
  padding: 10px;
}
