@import "bootstrap-sprockets";
@import "bootstrap";

footer, .footer {
  margin-top: 50px;
  color: #aaa;
  text-align: center;
  a {
    color: #87BEE0;
  }
}

.unit-icon {
  background-image: image-url("sprites.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
  line-height: 64px;
  vertical-align: text-top;
}
.unit-icon.team-X-unit {
  background-position: 0 0;
}
.unit-icon.team-A-unit {
  background-position: -64px 0;
}

.unit-icon.team-B-unit {
  background-position: 0 -64px;
}

.unit-icon.team-C-unit {
  background-position: -64px -64px;
}

.item-icon {
  background-image: image-url("sprites.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: text-bottom;
}
.item-icon.item-undefined {
  background-position: 0px -256px;
}
.item-icon.item-dagger {
  background-position: -256px -128px;
}
.item-icon.item-shuriken {
  background-position: -288px -128px;
}
.item-icon.item-clothes {
  background-position: -320px -128px;
}
.item-icon.item-boots {
  background-position: -352px -128px;
}


.board-container {
  margin-bottom: 10px;
  table {
    /*background: #ddd;*/
    padding: 10px;
    margin: auto;
    border-spacing: 3px;
    border-collapse: separate;
    td {
      text-align: center;
      font-size: 200%;
      padding: 10px;
      border: 1px gray solid;
      background: white;
    }
    td.extra {
      border: none;
      background: transparent;
    }
    td.wall {
      border: none;
      background: transparent;
    }
    td.team-a {
      background: lightyellow;
    }
    td.team-b {
      background: lavender;
    }
    td.team-c {
      background: lightblue;
    }
    td.team-x {
      background: lightgray;
    }
    td.current {
      background: lightgreen !important;
    }
    td.enemy {
      background: salmon !important;
    }
    td.enemy.hit {
      background: red !important;
    }
    td.path {
      background: #fd8 !important;
    }

    .hp-box {
      height: 7px;
      border: 1px solid rgba(128, 128, 128, 0.8);
      div {
        background: rgba(0, 128, 0, 0.8);
        height: 5px;
      }
    }
    .unit-icon.team-X-unit, .unit-icon.team-A-unit {
      /*border: 1px solid transparent;*/
    }

    .glyphicon-remove {
      color: maroon;
    }
  }
  table.small {
    th {
      width: 50px;
      line-height: 1px;
    }
    td.tile {
      height: 100px;
    }
  }
  table.medium {
    th {
      width: 25px;
      line-height: 1px;
    }
    td.tile {
      height: 50px;
    }
    td {
      font-size: 100%;
      padding: 4px;
    }
    .hp-box {
      height: 5px;
      div {
        height: 3px;
      }
    }
    .unit-icon {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
    .unit-icon.team-X-unit {
      background-position: -256px 0;
    }
    .unit-icon.team-A-unit {
      background-position: -288px 0;
    }
    .unit-icon.team-B-unit {
      background-position: -256px -32px;
    }
    .unit-icon.team-C-unit {
      background-position: -288px -32px;
    }
  }
  table.battle-start {
    td.team-a, td.team-b, td.team-c, td.team-x {
      background: white;
    }
  }
}

#board-controls {
  margin-top: 10px;
  text-align: center;
}

#battle-log {
  margin-top: 10px;
}

#selected-unit, #targeted-unit {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  .unit-icon {
    vertical-align: bottom;
  }
  .unit-name {
    font-size: 200%;
    font-weight: bold;
  }
  .progress {
    margin-bottom: 10px;
  }
  .item-icon {
    vertical-align: -25%;
  }
}
