@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

footer, .footer {
  margin-top: 50px;
  color: #aaa;
  text-align: center;
  a {
    color: #87BEE0;
  }
}

.unit-icon {
  background-image: image-url("sprites.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  width: 64px;
  height: 64px;
  line-height: 64px;
  vertical-align: text-bottom;
}
.unit-icon.team-X-unit {
  background-position: 0 0;
}
.unit-icon.team-A-unit {
  background-position: -64px 0;
}
.unit-icon.team-B-unit {
  background-position: 0 -64px;
}
.unit-icon.team-C-unit {
  background-position: -64px -64px;
}

.unit-icon.team-X-unit.skirmisher {
  background-position: -128px 0;
}
.unit-icon.team-A-unit.skirmisher {
  background-position: -192px 0;
}
.unit-icon.team-B-unit.skirmisher {
  background-position: -128px -64px;
}
.unit-icon.team-C-unit.skirmisher {
  background-position: -192px -64px;
}

.unit-icon.team-X-unit.sentinel {
  background-position: 0 -128px;
}
.unit-icon.team-A-unit.sentinel {
  background-position: -64px -128px;
}
.unit-icon.team-B-unit.sentinel {
  background-position: 0 -192px;
}
.unit-icon.team-C-unit.sentinel {
  background-position: -64px -192px;
}

.unit-icon.team-X-unit.mercenary {
  background-position: -128px -128px;
}
.unit-icon.team-A-unit.mercenary {
  background-position: -192px -128px;
}
.unit-icon.team-B-unit.mercenary {
  background-position: -128px -192px;
}
.unit-icon.team-C-unit.mercenary {
  background-position: -192px -192px;
}

.item-icon {
  background-image: image-url("sprites.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: text-bottom;
}
.item-icon.item-undefined {
  background-position: 0px -256px;
}
.item-icon.item-dagger {
  background-position: -256px -128px;
}
.item-icon.item-shuriken {
  background-position: -288px -128px;
}
.item-icon.item-clothes {
  background-position: -320px -128px;
}
.item-icon.item-boots {
  background-position: -352px -128px;
}
.item-icon.item-spear {
  background-position: -256px -160px;
}
.item-icon.item-bow {
  background-position: -288px -160px;
}
.item-icon.item-leather-armor {
  background-position: -320px -160px;
}
.item-icon.item-gloves {
  background-position: -352px -160px;
}
.item-icon.item-sword {
  background-position: -256px -192px;
}
.item-icon.item-war-bow {
  background-position: -288px -192px;
}
.item-icon.item-banded-mail {
  background-position: -320px -192px;
}
.item-icon.item-sabaton {
  background-position: -352px -192px;
}
.item-icon.item-battle-axe {
  background-position: -256px -224px;
}
.item-icon.item-ice-staff {
  background-position: -288px -224px;
}
.item-icon.item-cuirass {
  background-position: -320px -224px;
}
.item-icon.item-boots-of-haste {
  background-position: -352px -224px;
}
.item-icon.item-great-sword {
  background-position: -256px -256px;
}
.item-icon.item-fire-staff {
  background-position: -288px -256px;
}
.item-icon.item-full-plate-mail {
  background-position: -320px -256px;
}
.item-icon.item-gloves-of-accuracy {
  background-position: -352px -256px;
}

.monster-icon {
  background-image: image-url("sprites.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  vertical-align: text-bottom;
}
.monster-icon.monster-green-slime {
  background-position: -384px 0px;
}
.monster-icon.monster-red-slime {
  background-position: -416px 0px;
}
.monster-icon.monster-rat {
  background-position: -384px 32px;
}

table.unit-table, table.item-table, table.monster-table {
  tr > td {
    vertical-align: middle;
  }
}

.board-container {
  margin-bottom: 10px;
  table {
    /*background: #ddd;*/
    padding: 10px;
    margin: auto;
    border-spacing: 3px;
    border-collapse: separate;
    td {
      text-align: center;
      font-size: 200%;
      padding: 10px;
      border: 1px gray solid;
      background: white;
    }
    td.extra {
      border: none;
      background: transparent;
    }
    td.wall {
      border: none;
      background: transparent;
    }
    td.team-a {
      background: lightyellow;
    }
    td.team-b {
      background: lavender;
    }
    td.team-c {
      background: lightblue;
    }
    td.team-x {
      background: lightgray;
    }
    td.current {
      background: lightgreen !important;
    }
    td.enemy {
      background: salmon !important;
    }
    td.enemy.hit {
      background: red !important;
    }
    td.path {
      background: #fd8 !important;
    }

    .hp-box {
      height: 7px;
      border: 1px solid rgba(128, 128, 128, 0.8);
      div {
        background: rgba(0, 128, 0, 0.8);
        height: 5px;
      }
    }
    .unit-icon {
      vertical-align: text-top;
    }

    .glyphicon-remove {
      color: maroon;
    }
  }
  table.medium {
    th {
      width: 25px;
      line-height: 1px;
    }
    td.tile {
      height: 50px;
    }
    td {
      font-size: 100%;
      padding: 4px;
    }
    .hp-box {
      height: 5px;
      div {
        height: 3px;
      }
    }
    .unit-icon {
      width: 32px;
      height: 32px;
      line-height: 32px;
    }
    .unit-icon.team-X-unit {
      background-position: -256px 0;
    }
    .unit-icon.team-A-unit {
      background-position: -288px 0;
    }
    .unit-icon.team-B-unit {
      background-position: -256px -32px;
    }
    .unit-icon.team-C-unit {
      background-position: -288px -32px;
    }
    .unit-icon.team-X-unit.skirmisher {
      background-position: -320px 0;
    }
    .unit-icon.team-A-unit.skirmisher {
      background-position: -352px 0;
    }
    .unit-icon.team-B-unit.skirmisher {
      background-position: -320px -32px;
    }
    .unit-icon.team-C-unit.skirmisher {
      background-position: -352px -32px;
    }
    .unit-icon.team-X-unit.sentinel {
      background-position: -256px -64px;
    }
    .unit-icon.team-A-unit.sentinel {
      background-position: -288px -64px;
    }
    .unit-icon.team-B-unit.sentinel {
      background-position: -256px -96px;
    }
    .unit-icon.team-C-unit.sentinel {
      background-position: -288px -96px;
    }
    .unit-icon.team-X-unit.mercenary {
      background-position: -320px -64px;
    }
    .unit-icon.team-A-unit.mercenary {
      background-position: -352px -64px;
    }
    .unit-icon.team-B-unit.mercenary {
      background-position: -320px -96px;
    }
    .unit-icon.team-C-unit.mercenary {
      background-position: -352px -96px;
    }
  }
  table.battle-start {
    td.team-a, td.team-b, td.team-c, td.team-x {
      background: white;
    }
  }
}

#board-controls {
  margin-top: 10px;
  text-align: center;
}

#battle-log {
  margin-top: 10px;
}

#selected-unit, #targeted-unit {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  .unit-icon {
    vertical-align: bottom;
  }
  .unit-name {
    font-size: 200%;
    font-weight: bold;
  }
  .progress {
    margin-bottom: 10px;
  }
  .item-icon {
    vertical-align: -25%;
  }
}
